target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.project
.classpath

*.class
*.DS_Store

#folders#
/target
/neoDb*
/data
/src/main/webapp/WEB-INF/classes
*/META-INF/*

### OS ###
.DS_Store

### Packaged files ###
*.jar
*.war
*.ear

.externalToolBuilders
.settings
.springBeans